.contact-section {
    height: 600px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.information {
    align-self: flex-start;
    padding: 0 0 0 100px;
}

.maps {
    height: 350px;
    width: 600px;
    background: no-repeat center url("../img/maps.png");
    background-size: cover;
}