:root {
    --black: #000;
    --white: #fff;
    --grey: grey;
}

    * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    height: 15vh;
}

header h1 {
    font-size: 3em;
    margin: 0;
    padding: 5px;
}

header button {
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: 1.2em;
}

#content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center url("../img/spot.jpg");
    background-size: cover;
}

header,
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 200px;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--white);
}

footer {
    height: 5vh;
}

footer p {
    margin: 0;
}
#developer,
#github {
    color: var(--white);
    text-decoration: none;
}