.welcome {
    height: 600px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white);
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spot-image {
    background: no-repeat left url(../img/cook.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}