.menu-section {
    height: 600px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--white);
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.food-spot {
    width: 300px;
    font-size: .7em;
    text-align: center;
    padding: 0 30px;
}

.food-spot h2,
.food-spot p {
    margin: 0;
}

.image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.asian-image {
    background: no-repeat center url("../img/asian-spot.jpg");
    background-size: cover;
}

.french-fries-image {
    background: no-repeat center url("../img/french-fries-spot.jpg");
    background-size: cover;

}

.burger-image {
    background: no-repeat center url("../img/burger-spot.jpg");
    background-size: cover;
}

.pizza-image {
    background: no-repeat center url("../img/pizza-spot.jpg");
    background-size: cover;
}